body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 70px;
    background-color: maroon;
    background-image: url(../img/cubes.png);
    /* background pattern from https://www.transparenttextures.com/ */
}

h1 {
    text-align: center;
    color: white;
}

li{
    list-style-type: none;
}

.navbar-brand img{
    padding:0;
    margin:0;
    height:40px;
    position: fixed;
    top:6px;
    left: 30px;
}

.navbar-brand p{
    position: fixed;
    top:15px;
    left: 80px;
    font-size:.8em;
}